.ContentHeader {
  display: flex;
  padding: 1em 0 2em 0;
  align-items: center;
  .ContentHeading {
    flex-grow: 1;
    h1 {
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
    }
    p {
      margin-top: 3px;
      color:#999;
      max-width: 800px;
    }
    .Pills {
      margin: 6px 0 0;
      span {
        margin-right: 4px;
      }
    }
  }
  .Actions {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    & > * {
      margin-left: .5em;
    }
    .Link {
      padding:0 .6em !important;
      &:hover {
        color: $color3;
      }
    }
  }
}
