.List {
  border: #f2f2f2 thin solid;

  .Item {
    padding: 1em;
    display: flex;
    border-bottom: #f2f2f2 thin solid;
    transition: all .2s ease-out;
    &.Selected {
      background: #f4f4f4;
      font-weight: bold;
      box-shadow: 0px 3px 10px rgba(0,0,0,.2);
    }
    .Content {
      flex-basis: 70%;
      flex-grow: 1;

      .Heading {
        font-weight: bold;
        font-size: 1.25em;
      }
      .SubHeading {
        font-size: .8em;
      }

      .Details {
        margin-top: .8em;
        color: #666;
      }

      .StatusContainer {
        display: flex;
      }
      .Status {
        display: flex;
        align-items: center;
        margin-right: 20px;
        font-size: .8em;
        font-weight: bold;
        span {
          margin-right: .3em;
        }
      }
    }
    .Actions {
      flex-basis: 30%;
      flex-shrink: 1;
      text-align: right;
    }
    &:hover {
     box-shadow: 0px 3px 10px rgba(0,0,0,.2);
     background: #fff;
     &.Selected {
      background: #f4f4f4;
      font-weight: bold;
     }
    }
  }
}
