.ItemCard {
  padding: .5em;
  border: #f4f4f4 thin solid;
  display: flex;
  border-bottom: $color4 thin solid;
  margin: 5px 0;
  position: relative;

  .Image {
    margin-right: 6px;
    img {
      width: 100px;
    }
  }
  .Details {
    padding: 0 8px;
    .Name {
      font-weight: bold;
    }
    .Info, .Meta {
      font-size: .8em;
      // margin-bottom: 6px;
    }
    .Meta {
      font-style: italic;
      margin: 6px 0;
    }
  }

  .RemoveItem {
    position: absolute;
    top: 5px; right: 11px;
  }
}
