/* Coolors Exported Palette - coolors.co/c97b84-a85751-7d2e68-251351-040926 */

/* HSL */
// $color1: hsla(353%, 42%, 64%, 1);
// $color2: hsla(4%, 35%, 49%, 1);
// $color3: hsla(316%, 46%, 34%, 1);
// $color4: #9B7AEF;
// $color5: hsla(231%, 81%, 8%, 1);

// /* RGB */
// $color1: rgba(201, 123, 132, 1);
// $color2: rgba(168, 87, 81, 1);
// $color3: rgba(125, 46, 104, 1);
// $color4: #9B7AEF;
// $color5: rgba(4, 9, 38, 1);
// $color1: hsla(203%, 65%, 25%, 1);
// $color2: hsla(44%, 83%, 59%, 1);
// $color3: hsla(355%, 74%, 33%, 1);
// $color4: hsla(155%, 52%, 62%, 1);
// $color5: hsla(283%, 16%, 8%, 1);

/* RGB */
$color5: rgba(22, 73, 104, 1);
$color4: rgba(237, 191, 63, 1);
$color3: rgba(147, 22, 33, 1);
$color2: rgba(109, 209, 168, 1);
$color1: rgba(23, 18, 25, 1);
$white: #fff;
$grey: #f9f9f9;
